* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif, serif;
}

.nav-div {
    background-color: rgb(180, 180, 180);
}

.menu-links {
    float: left;
    list-style-type: none;
}

.nav-item {
    margin-top: 20px;
}

.nav-item .nav-link {
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}

.nav-item .nav-link:hover {
    color: rgb(48, 48, 255);
    background-color: white;
    font-weight: bold;
}

.logout-button {
    margin: 50px 0px 20px 0px;
}

.header-and-button {
    display: flex;
    justify-content: space-between;
}